# Server port (Render sets this automatically)
PORT=3000

# Bytez API key
BYTEZ_API_KEY=eeaee0a671ba5b7e3dbd5b8eca4cfa2e

# OpenRouter API key
OPENROUTER_API_KEY=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
